# Prerequisites
*.d
*.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.pdb
*.ipdb
*.iobj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Image files
*.png
*.jpg
*.tif

# Executables
*.exe
*.out
*.app
